body{
    border: 5px solid black;
}

header{
    width: 100%;
    height: auto;
}

nav ul li{
    float: left;
    margin: 0 5px;
    list-style: none;
}

article{
    width: 100%;
    height: auto;
}

section{
    width: 50%;
    height: auto;
    float: left;
}

aside{
    width: 50%;
    height: auto;
    float: left;
}

footer{
    text-align: center;
    clear: both;
}
